body{
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}
div{
    max-width: 100%;
    padding: 50px;
}
h1, h2{
    font-weight: 700;
}
p{
    font-style: italic;
    font-weight: 400;
}
button{
    border: none;
    padding-top:10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: lightsalmon;
}
#save-btn{
    background-color: turquoise;
}
